@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6b6b6b;
    --foreground: #ededed;
  }
}

* {
  cursor: url(./utils/cursor.svg), auto !important;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  -webkit-font-smoothing: antialiased;
}

select,
#fullScreen,
#volumen {
  cursor: url(./utils/click.svg), auto !important;
}

body {
  color: var(--foreground);
  background-image: url("./utils/poolside.png");
  background-repeat: no-repeat;
  font-family: "Press Start 2P";
  flex: 1;
  height: auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  height: auto;
}

::-webkit-scrollbar-track {
  border-left: 1px solid black;
  background-color: rgb(236, 241, 254);
}

::-webkit-scrollbar-thumb {
  border: 1px solid black;
  background-size: 100% 100%;
  background-color: rgb(236, 251, 254);
}

::-webkit-scrollbar-corner {
  background: black;
}